<html>

<head>
	<title>Journey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="css/journey.css">
	<script src="/js/journey.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
	<div class="progress-bar">
		<p>Degree Progress:</p>
		<input type="range" id="myRange" value="90" max="100">
		<div id="rangeValue">90</div>
	</div>
	<div class="dda">
		<a href="http://degree.ucsd.edu/" id="dda-button" class="button">
			<svg id="eb113788-f1f1-4c1f-be62-f1d0ea2e1eb6" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="150"
				viewBox="0 0 795.39431 574.03802">
				<defs>
					<linearGradient id="b2a81085-935f-40be-bb27-75940df8c338" x1="-450.78971" y1="2803.04671"
						x2="-450.78971" y2="2729.34772" gradientTransform="translate(3217.53309 1009.65784) rotate(90)"
						gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="gray" stop-opacity="0.25" />
						<stop offset="0.53514" stop-color="gray" stop-opacity="0.12" />
						<stop offset="1" stop-color="gray" stop-opacity="0.1" />
					</linearGradient>
				</defs>
				<title>Graduation</title>
				<ellipse cx="232.05775" cy="450.06897" rx="35.09476" ry="5.26421"
					transform="translate(-476.55674 294.92367) rotate(-63.61079)" fill="#e0e0e0" />
				<ellipse cx="670.57742" cy="667.85592" rx="35.09476" ry="3.57677"
					transform="translate(-428.03695 808.73554) rotate(-63.61079)" fill="#e0e0e0" />
				<rect x="397.95325" y="566.93514" width="21.05685" height="70.18951"
					transform="translate(274.52069 -285.26226) rotate(39.54732)" fill="#f55f44" />
				<rect x="409.32507" y="573.56618" width="23.69234" height="70.18951"
					transform="translate(489.54965 1134.58125) rotate(-166.7689)" opacity="0.05" />
				<rect x="411.92558" y="573.86778" width="21.05685" height="70.18951"
					transform="translate(492.0121 1135.47005) rotate(-166.7689)" fill="#f55f44" />
				<rect x="414.48638" y="314.08219" width="73.69899" height="489.57186"
					transform="translate(-452.20218 551.7936) rotate(-63.61079)"
					fill="url(#b2a81085-935f-40be-bb27-75940df8c338)" />
				d="M655.01556,699.105c-8.584-4.11751-444.8438-220.718-438.55625-217.5983,24.21371-36.95739,31.19689-62.87545,31.19689-62.87545l438.55625,217.5983S670.81132,663.25857,655.01556,699.105Z"
				transform="translate(-202.30284 -162.98099)" fill="#f5f5f5"/>
				<rect x="421.72508" y="519.09383" width="40.35897" height="70.18951"
					transform="translate(90.06389 -301.64381) rotate(26.38921)" opacity="0.05" />
				<rect x="423.47981" y="519.09383" width="36.8495" height="70.18951"
					transform="translate(90.06389 -301.64381) rotate(26.38921)" fill="#f55f44" />
				<rect x="428.83545" y="518.70387" width="24.56633" height="70.18951"
					transform="translate(89.80867 -301.33512) rotate(26.38921)" opacity="0.05" />
				<rect x="430.59019" y="518.70387" width="21.05685" height="70.18951"
					transform="translate(89.80867 -301.33512) rotate(26.38921)" fill="#f55f44" />
				<circle cx="261.30557" cy="563.92499" r="2.92569" fill="#dbdbdb" />
				<g opacity="0.5">
					<rect x="29.39431" y="482" width="3" height="17" fill="#47e6b1" />
					<rect x="231.69716" y="644.98099" width="3" height="17"
						transform="translate(684.3753 257.30284) rotate(90)" fill="#47e6b1" />
				</g>
				<g opacity="0.5">
					<rect x="785.39431" y="270" width="3" height="17" fill="#47e6b1" />
					<rect x="987.69716" y="432.98099" width="3" height="17"
						transform="translate(1228.3753 -710.69716) rotate(90)" fill="#47e6b1" />
				</g>
				<g opacity="0.5">
					<rect x="47.39431" y="59" width="3" height="17" fill="#47e6b1" />
					<rect x="249.69716" y="221.98099" width="3" height="17"
						transform="translate(279.3753 -183.69716) rotate(90)" fill="#47e6b1" />
				</g>
				<g opacity="0.5">
					<rect x="695.39431" y="33" width="3" height="17" fill="#47e6b1" />
					<rect x="897.69716" y="195.98099" width="3" height="17"
						transform="translate(901.3753 -857.69716) rotate(90)" fill="#47e6b1" />
				</g>
				<path
					d="M214.59252,416.4373a3.67458,3.67458,0,0,1-2.04749-4.441,1.76592,1.76592,0,0,0,.0799-.40754h0a1.84257,1.84257,0,0,0-3.31045-1.22119h0a1.76637,1.76637,0,0,0-.2039.3618,3.67459,3.67459,0,0,1-4.441,2.04749,1.766,1.766,0,0,0-.40754-.07991h0a1.84258,1.84258,0,0,0-1.22119,3.31045h0a1.76606,1.76606,0,0,0,.3618.20389,3.67462,3.67462,0,0,1,2.04749,4.441,1.76594,1.76594,0,0,0-.07991.40754h0a1.84257,1.84257,0,0,0,3.31045,1.22119h0a1.7659,1.7659,0,0,0,.2039-.3618,3.67459,3.67459,0,0,1,4.441-2.04749,1.76665,1.76665,0,0,0,.40755.07991h0a1.84257,1.84257,0,0,0,1.22119-3.31045h0A1.76684,1.76684,0,0,0,214.59252,416.4373Z"
					transform="translate(-202.30284 -162.98099)" fill="#4d8af0" opacity="0.5" />
				<path
					d="M386.59252,219.4373a3.67458,3.67458,0,0,1-2.04749-4.441,1.76592,1.76592,0,0,0,.0799-.40754h0a1.84257,1.84257,0,0,0-3.31045-1.22119h0a1.76637,1.76637,0,0,0-.2039.3618,3.67459,3.67459,0,0,1-4.441,2.04749,1.766,1.766,0,0,0-.40754-.07991h0a1.84258,1.84258,0,0,0-1.22119,3.31045h0a1.76606,1.76606,0,0,0,.3618.20389,3.67462,3.67462,0,0,1,2.04749,4.441,1.76594,1.76594,0,0,0-.07991.40754h0a1.84257,1.84257,0,0,0,3.31045,1.22119h0a1.7659,1.7659,0,0,0,.2039-.3618,3.67459,3.67459,0,0,1,4.441-2.04749,1.76665,1.76665,0,0,0,.40755.07991h0a1.84257,1.84257,0,0,0,1.22119-3.31045h0A1.76684,1.76684,0,0,0,386.59252,219.4373Z"
					transform="translate(-202.30284 -162.98099)" fill="#4d8af0" opacity="0.5" />
				<path
					d="M596.59252,730.4373a3.67458,3.67458,0,0,1-2.04749-4.441,1.76592,1.76592,0,0,0,.0799-.40754h0a1.84257,1.84257,0,0,0-3.31045-1.22119h0a1.76637,1.76637,0,0,0-.2039.3618,3.67459,3.67459,0,0,1-4.441,2.04749,1.766,1.766,0,0,0-.40754-.07991h0a1.84258,1.84258,0,0,0-1.22119,3.31045h0a1.76606,1.76606,0,0,0,.3618.20389,3.67462,3.67462,0,0,1,2.04749,4.441,1.76594,1.76594,0,0,0-.07991.40754h0a1.84257,1.84257,0,0,0,3.31045,1.22119h0a1.7659,1.7659,0,0,0,.2039-.3618,3.67459,3.67459,0,0,1,4.441-2.04749,1.76665,1.76665,0,0,0,.40755.07991h0a1.84257,1.84257,0,0,0,1.22119-3.31045h0A1.76684,1.76684,0,0,0,596.59252,730.4373Z"
					transform="translate(-202.30284 -162.98099)" fill="#4d8af0" opacity="0.5" />
				<circle cx="759.39431" cy="444" r="6" fill="#f55f44" opacity="0.5" />
				<circle cx="627.39431" cy="482" r="6" fill="#4d8af0" opacity="0.5" />
				<circle cx="103.39431" cy="541" r="6" fill="#47e6b1" opacity="0.5" />
				<circle cx="411.39431" cy="6" r="6" fill="#f55f44" opacity="0.5" />
				<path d="M407.19716,520.481l-24,36s8,37,185,36,191-36,191-36l-33-48-101-69Z"
					transform="translate(-202.30284 -162.98099)" fill="#6c63ff" />
				<path d="M407.19716,520.481l-24,36s8,37,185,36,191-36,191-36l-33-48-101-69Z"
					transform="translate(-202.30284 -162.98099)" opacity="0.15" />
				<polygon
					points="715.394 224 400.394 363 16.394 224 368.394 64 541.184 143.67 547.374 146.53 715.394 224"
					fill="#6c63ff" />
				<polygon
					points="715.394 224 400.394 363 16.394 224 368.394 64 541.184 143.67 547.374 146.53 715.394 224"
					opacity="0.15" />
				<polygon points="553.894 257.32 547.894 257.68 541.184 143.67 547.374 146.53 553.894 257.32"
					fill="#f5f5f5" />
				<path d="M411.19716,386.481l-28,170s201-65,376,0l-26-180S498.19716,347.481,411.19716,386.481Z"
					transform="translate(-202.30284 -162.98099)" fill="#6c63ff" />
				<ellipse cx="553.39431" cy="272" rx="29" ry="20" fill="#f5f5f5" />
			</svg>
		</a>
	</div>
	<div class="flag">
		<a href="checkpoint" id="flag-button1" class="button">
			<svg width="50" height="63.5" viewBox="0 0 198 253" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g id="undraw_flagged_2uty 1">
					<path id="Vector"
						d="M141.012 129.22C115.802 129.22 92.82 123.1 72.705 111.029C51.4313 98.2681 7.5585 105.654 4.26846 112.166L0.234283 121.881L11.6039 9.39207L12.0316 8.99363C12.9674 8.09812 35.7533 -12.7251 95.4525 16.561C140.765 38.7832 177.805 28.31 191.627 22.7759C192.334 22.4906 193.101 22.3896 193.858 22.4824C194.615 22.5751 195.336 22.8585 195.953 23.3061C196.57 23.7537 197.063 24.3507 197.387 25.0411C197.71 25.7315 197.852 26.4928 197.801 27.2534L191.551 117.895C191.494 118.792 191.167 119.652 190.612 120.361C190.058 121.07 189.303 121.594 188.445 121.866C173.093 126.684 157.103 129.163 141.012 129.22Z"
						fill="#F50057" />
					<path id="Vector_2"
						d="M7.08298 5.70361C5.25093 5.70572 3.49452 6.43442 2.19907 7.72987C0.903616 9.02532 0.174925 10.7817 0.172821 12.6138V245.407C0.172821 247.239 0.90084 248.997 2.19675 250.293C3.49265 251.589 5.25029 252.317 7.08298 252.317C8.91567 252.317 10.6733 251.589 11.9692 250.293C13.2651 248.997 13.9931 247.239 13.9931 245.407V12.6138C13.991 10.7817 13.2623 9.02532 11.9669 7.72987C10.6714 6.43442 8.91502 5.70572 7.08298 5.70361Z"
						fill="#3F3D56" />
				</g>
			</svg>
		</a>
	</div>
	<div class="flag">
		<a href="checkpoint" id="flag-button2" class="button">
			<svg width="50" height="63.5" viewBox="0 0 198 253" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g id="undraw_flagged_2uty 1">
					<path id="Vector"
						d="M141.012 129.22C115.802 129.22 92.82 123.1 72.705 111.029C51.4313 98.2681 7.5585 105.654 4.26846 112.166L0.234283 121.881L11.6039 9.39207L12.0316 8.99363C12.9674 8.09812 35.7533 -12.7251 95.4525 16.561C140.765 38.7832 177.805 28.31 191.627 22.7759C192.334 22.4906 193.101 22.3896 193.858 22.4824C194.615 22.5751 195.336 22.8585 195.953 23.3061C196.57 23.7537 197.063 24.3507 197.387 25.0411C197.71 25.7315 197.852 26.4928 197.801 27.2534L191.551 117.895C191.494 118.792 191.167 119.652 190.612 120.361C190.058 121.07 189.303 121.594 188.445 121.866C173.093 126.684 157.103 129.163 141.012 129.22Z"
						fill="#F50057" />
					<path id="Vector_2"
						d="M7.08298 5.70361C5.25093 5.70572 3.49452 6.43442 2.19907 7.72987C0.903616 9.02532 0.174925 10.7817 0.172821 12.6138V245.407C0.172821 247.239 0.90084 248.997 2.19675 250.293C3.49265 251.589 5.25029 252.317 7.08298 252.317C8.91567 252.317 10.6733 251.589 11.9692 250.293C13.2651 248.997 13.9931 247.239 13.9931 245.407V12.6138C13.991 10.7817 13.2623 9.02532 11.9669 7.72987C10.6714 6.43442 8.91502 5.70572 7.08298 5.70361Z"
						fill="#3F3D56" />
				</g>
			</svg>
		</a>
	</div>
	<div class="flag">
		<a href="checkpoint" id="flag-button3" class="button">
			<svg width="50" height="63.5" viewBox="0 0 198 253" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g id="undraw_flagged_2uty 1">
					<path id="Vector"
						d="M141.012 129.22C115.802 129.22 92.82 123.1 72.705 111.029C51.4313 98.2681 7.5585 105.654 4.26846 112.166L0.234283 121.881L11.6039 9.39207L12.0316 8.99363C12.9674 8.09812 35.7533 -12.7251 95.4525 16.561C140.765 38.7832 177.805 28.31 191.627 22.7759C192.334 22.4906 193.101 22.3896 193.858 22.4824C194.615 22.5751 195.336 22.8585 195.953 23.3061C196.57 23.7537 197.063 24.3507 197.387 25.0411C197.71 25.7315 197.852 26.4928 197.801 27.2534L191.551 117.895C191.494 118.792 191.167 119.652 190.612 120.361C190.058 121.07 189.303 121.594 188.445 121.866C173.093 126.684 157.103 129.163 141.012 129.22Z"
						fill="#F50057" />
					<path id="Vector_2"
						d="M7.08298 5.70361C5.25093 5.70572 3.49452 6.43442 2.19907 7.72987C0.903616 9.02532 0.174925 10.7817 0.172821 12.6138V245.407C0.172821 247.239 0.90084 248.997 2.19675 250.293C3.49265 251.589 5.25029 252.317 7.08298 252.317C8.91567 252.317 10.6733 251.589 11.9692 250.293C13.2651 248.997 13.9931 247.239 13.9931 245.407V12.6138C13.991 10.7817 13.2623 9.02532 11.9669 7.72987C10.6714 6.43442 8.91502 5.70572 7.08298 5.70361Z"
						fill="#3F3D56" />
				</g>
			</svg>
		</a>
	</div>
	<div class="btn">
		<a href="/required" id="audit-button" class="button">
			<svg width="50" height="100" viewBox="0 0 473 540" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g id="undraw_Add_files_re_v09g 1">
					<path id="Vector"
						d="M211.749 279.25L27.4757 326.771C25.4182 327.3 23.2347 326.99 21.4053 325.91C19.5758 324.83 18.2502 323.067 17.7197 321.01C17.1892 318.953 17.4972 316.769 18.5761 314.939C19.655 313.109 21.4165 311.782 23.4733 311.25L207.746 263.73C209.804 263.199 211.989 263.508 213.82 264.588C215.65 265.668 216.977 267.431 217.508 269.489C218.039 271.547 217.73 273.732 216.65 275.562C215.57 277.393 213.807 278.719 211.749 279.25Z"
						fill="#F2F2F2" />
					<path id="Vector_2"
						d="M250.514 297.186L34.2297 352.961C33.2103 353.225 32.1489 353.286 31.1061 353.139C30.0633 352.992 29.0597 352.642 28.1525 352.107C27.2453 351.572 26.4524 350.864 25.819 350.023C25.1857 349.182 24.7244 348.224 24.4614 347.204C24.1985 346.184 24.139 345.123 24.2865 344.08C24.434 343.038 24.7856 342.034 25.3211 341.128C25.8566 340.221 26.5655 339.429 27.4073 338.796C28.2492 338.163 29.2074 337.703 30.2273 337.441L246.511 281.666C248.569 281.135 250.754 281.443 252.585 282.523C254.415 283.603 255.742 285.366 256.273 287.425C256.804 289.483 256.495 291.667 255.415 293.498C254.335 295.329 252.572 296.655 250.514 297.186V297.186Z"
						fill="#F2F2F2" />
					<path id="Vector_3"
						d="M424.659 0.991699H48.3403C35.5812 1.00607 23.3487 6.081 14.3266 15.1031C5.30455 24.1252 0.229667 36.3577 0.215332 49.1168V490.993C0.22967 503.752 5.30455 515.984 14.3266 525.006C23.3487 534.028 35.5812 539.103 48.3403 539.118H424.659C437.418 539.103 449.65 534.028 458.672 525.006C467.694 515.984 472.769 503.752 472.784 490.993V49.1168C472.769 36.3577 467.694 24.1252 458.672 15.1031C449.65 6.081 437.418 1.00607 424.659 0.991699V0.991699Z"
						fill="#E6E6E6" />
					<path id="Vector_4"
						d="M424.659 14.8459H48.3403C39.2542 14.8561 30.5432 18.47 24.1183 24.8949C17.6935 31.3197 14.0795 40.0307 14.0693 49.1168V490.993C14.0795 500.079 17.6935 508.79 24.1183 515.215C30.5432 521.639 39.2542 525.253 48.3403 525.263H424.659C433.745 525.253 442.456 521.639 448.881 515.214C455.306 508.79 458.92 500.079 458.93 490.993V49.1168C458.92 40.0308 455.306 31.3198 448.881 24.895C442.456 18.4702 433.745 14.8562 424.659 14.8459V14.8459Z"
						fill="white" />
					<path id="Vector_5"
						d="M368.023 257.656H177.721C176.668 257.657 175.625 257.45 174.652 257.048C173.678 256.646 172.794 256.056 172.049 255.311C171.303 254.567 170.712 253.683 170.309 252.71C169.906 251.737 169.698 250.695 169.698 249.641C169.698 248.588 169.906 247.545 170.309 246.572C170.712 245.6 171.303 244.716 172.049 243.971C172.794 243.227 173.678 242.637 174.652 242.235C175.625 241.833 176.668 241.626 177.721 241.627H368.023C370.147 241.63 372.183 242.475 373.684 243.978C375.185 245.48 376.028 247.517 376.028 249.641C376.028 251.765 375.185 253.802 373.684 255.305C372.183 256.808 370.147 257.653 368.023 257.656V257.656Z"
						fill="#E6E6E6" />
					<path id="Vector_6"
						d="M401.081 284.703H177.721C176.668 284.704 175.625 284.498 174.652 284.096C173.678 283.693 172.794 283.103 172.049 282.359C171.303 281.615 170.712 280.731 170.309 279.758C169.906 278.785 169.698 277.742 169.698 276.689C169.698 275.636 169.906 274.593 170.309 273.62C170.712 272.647 171.303 271.763 172.049 271.019C172.794 270.275 173.678 269.685 174.652 269.282C175.625 268.88 176.668 268.674 177.721 268.675H401.081C403.207 268.675 405.245 269.519 406.748 271.022C408.251 272.525 409.095 274.564 409.095 276.689C409.095 278.815 408.251 280.853 406.748 282.356C405.245 283.859 403.207 284.703 401.081 284.703Z"
						fill="#E6E6E6" />
					<path id="Vector_7"
						d="M368.023 378.869H177.721C176.668 378.87 175.625 378.664 174.652 378.262C173.678 377.859 172.794 377.269 172.049 376.525C171.303 375.781 170.712 374.897 170.309 373.924C169.906 372.951 169.698 371.908 169.698 370.855C169.698 369.802 169.906 368.759 170.309 367.786C170.712 366.813 171.303 365.929 172.049 365.185C172.794 364.441 173.678 363.851 174.652 363.448C175.625 363.046 176.668 362.84 177.721 362.841H368.023C370.148 362.841 372.187 363.685 373.69 365.188C375.193 366.691 376.037 368.729 376.037 370.855C376.037 372.98 375.193 375.019 373.69 376.522C372.187 378.025 370.148 378.869 368.023 378.869V378.869Z"
						fill="#E6E6E6" />
					<path id="Vector_8"
						d="M401.081 405.917H177.721C176.668 405.918 175.625 405.711 174.652 405.309C173.678 404.907 172.794 404.317 172.049 403.573C171.303 402.828 170.712 401.944 170.309 400.972C169.906 399.999 169.698 398.956 169.698 397.903C169.698 396.849 169.906 395.807 170.309 394.834C170.712 393.861 171.303 392.977 172.049 392.233C172.794 391.488 173.678 390.898 174.652 390.496C175.625 390.094 176.668 389.887 177.721 389.888H401.081C402.134 389.887 403.177 390.094 404.151 390.496C405.124 390.898 406.009 391.488 406.754 392.233C407.499 392.977 408.09 393.861 408.493 394.834C408.897 395.807 409.104 396.849 409.104 397.903C409.104 398.956 408.897 399.999 408.493 400.972C408.09 401.944 407.499 402.828 406.754 403.573C406.009 404.317 405.124 404.907 404.151 405.309C403.177 405.711 402.134 405.918 401.081 405.917Z"
						fill="#E6E6E6" />
					<path id="Vector_9"
						d="M135.092 296.982H67.7465C66.7277 296.981 65.7509 296.575 65.0305 295.855C64.3101 295.134 63.9049 294.158 63.9037 293.139V233.192C63.9049 232.173 64.3101 231.196 65.0305 230.476C65.7509 229.755 66.7277 229.35 67.7465 229.349H135.092C136.111 229.35 137.088 229.755 137.809 230.476C138.529 231.196 138.934 232.173 138.935 233.192V293.139C138.934 294.158 138.529 295.134 137.809 295.855C137.088 296.575 136.111 296.981 135.092 296.982V296.982Z"
						fill="#E6E6E6" />
					<path id="Vector_10"
						d="M135.092 418.195H67.7465C66.7277 418.194 65.7509 417.789 65.0305 417.068C64.3101 416.348 63.9049 415.371 63.9037 414.352V354.405C63.9049 353.386 64.3101 352.409 65.0305 351.689C65.7509 350.969 66.7277 350.563 67.7465 350.562H135.092C136.111 350.563 137.088 350.969 137.809 351.689C138.529 352.409 138.934 353.386 138.935 354.405V414.352C138.934 415.371 138.529 416.348 137.809 417.068C137.088 417.789 136.111 418.194 135.092 418.195V418.195Z"
						fill="#E6E6E6" />
					<path id="Vector_11"
						d="M368.234 122.721H227.932C225.807 122.721 223.768 121.877 222.266 120.374C220.763 118.871 219.918 116.832 219.918 114.707C219.918 112.581 220.763 110.543 222.266 109.04C223.768 107.537 225.807 106.693 227.932 106.693H368.234C370.36 106.693 372.398 107.537 373.901 109.04C375.404 110.543 376.248 112.581 376.248 114.707C376.248 116.832 375.404 118.871 373.901 120.374C372.398 121.877 370.36 122.721 368.234 122.721Z"
						fill="#CCCCCC" />
					<path id="Vector_12"
						d="M401.292 149.769H227.932C226.88 149.769 225.838 149.561 224.866 149.159C223.893 148.756 223.01 148.166 222.266 147.421C221.521 146.677 220.931 145.794 220.528 144.821C220.126 143.849 219.918 142.807 219.918 141.755C219.918 140.702 220.126 139.66 220.528 138.688C220.931 137.715 221.521 136.832 222.266 136.088C223.01 135.343 223.893 134.753 224.866 134.35C225.838 133.948 226.88 133.74 227.932 133.74H401.292C403.418 133.74 405.456 134.585 406.959 136.088C408.462 137.591 409.306 139.629 409.306 141.755C409.306 143.88 408.462 145.918 406.959 147.421C405.456 148.924 403.418 149.769 401.292 149.769V149.769Z"
						fill="#CCCCCC" />
					<path id="Vector_13"
						d="M196.881 182.547H67.5353C66.5165 182.546 65.5398 182.141 64.8193 181.42C64.0989 180.7 63.6937 179.723 63.6926 178.704V77.757C63.6937 76.7382 64.0989 75.7615 64.8193 75.041C65.5398 74.3206 66.5165 73.9154 67.5353 73.9143H196.881C197.9 73.9154 198.877 74.3206 199.597 75.041C200.318 75.7615 200.723 76.7382 200.724 77.757V178.704C200.723 179.723 200.318 180.7 199.597 181.42C198.877 182.141 197.9 182.546 196.881 182.547V182.547Z"
						fill="#6C63FF" />
				</g>
			</svg>


			Degree Audit
		</a>
	</div>
</body>

</html>