<html>

<head>
	<title>Journey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="css/journey.css">
	<link rel="stylesheet" href="css/jquery.lineProgressbar.css">

	<script src="/js/journey.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/js/jquery.lineProgressbar.min.js"></script>
</head>

<body>
	<p id="title">Your Journey</p>
	<p id="bar-title">Degree Progress</p>
	<div id="progressbar1"></div>

	<!-- Button trigger modal 1 -->
	<a data-toggle="modal" data-target="#modal1" id="flag-btn-1">
		<img src="../images/flag.png" alt="flag1" id="flag1" class="flags" />
	</a>
	<div class="pulse" id="pulse1"></div>
	<!-- Modal 1 -->
	<div class="modal fade" id="modal1" tabindex="-1" role="dialog"
		aria-labelledby="modal-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title">Milestone 1</h5>
				</div>
				<div class="modal-body">
					<img src="../images/milestone-1.png" alt="milestone-1-icon" class="milestone-img"/>
					<p>Congratulations on making it through your first year! Here are some of your accomplishments:</p>
					<ul>
						<li>CSE 12</li>
						<li>CSE 15L</li>
						<li>CSE 21</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-btn-1" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal 2 -->
	<a data-toggle="modal" data-target="#modal2" id="flag-btn-2">
		<img src="../images/flag.png" alt="flag2" id="flag2" class="flags" />
	</a>
	<div class="pulse" id="pulse2"></div>
	<!-- Modal 2 -->
	<div class="modal fade" id="modal2" tabindex="-1" role="dialog"
		aria-labelledby="modal-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title">Milestone 2</h5>
				</div>
				<div class="modal-body">
					<img src="../images/milestone-3.png" alt="milestone-3-icon" class="milestone-img"/>
					<p>Awesome! You made it through your second year! Here are some of your accomplishments:</p>
					<ul>
						<li>CSE 30</li>
						<li>CSE 100</li>
						<li>CSE 105</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-btn-2" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal 3 -->
	<a data-toggle="modal" data-target="#modal3" id="flag-btn-3">
		<img src="../images/flag.png" alt="flag3" id="flag3" class="flags" />
	</a>
	<div class="pulse" id="pulse3"></div>
	<!-- Modal 3 -->
	<div class="modal fade" id="modal3" tabindex="-1" role="dialog"
		aria-labelledby="modal-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title">Milestone 3</h5>
				</div>
				<div class="modal-body">
					<img src="../images/milestone-2.png" alt="milestone-2-icon" class="milestone-img"/>
					<p>You've successfully completed your third year! You're almost done! Here are some of your accomplishments:</p>
					<ul>
						<li>CSE 101</li>
						<li>CSE 110</li>
						<li>CSE 124</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-btn-3" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal dda -->
	<a data-toggle="modal" data-target="#modal4" id="cap-btn">
		<img src="../images/graduation-cap.png" alt="cap" id="cap" class="flags" />
	</a>
	<!-- Modal 4 -->
	<div class="modal fade" id="modal4" tabindex="-1" role="dialog"
		aria-labelledby="modal-title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title">Congratulations!</h5>
				</div>
				<div class="modal-body">
					<img src="../images/graduate-01.png" alt="milestone-4-icon" class="milestone-img"/>
					<p>You are close to graduating! Make sure to fill out your <a href="http://degree.ucsd.edu/" target="_blank">Degree Diploma Application</a>!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary close-btn-4" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="quote">
		<p>“It is not the mountain we conquer, but ourselves” <br /> - Edmund Hillary</p>
	</div>

	<div class="audit-icon">
		<a href="/required" id="audit-btn">
			<img src="../images/file-icon-01.png" id="icon-img" />
			<span id="caption">Navigate to <br /> Degree Audit</span>
		</a>
	</div>
	
</body>

</html>