<html>

<head>
	<title>Journey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="css/journey.css">
	<script src="/js/journey.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
</head>

<body>
	<div id="web">
		<img src="../images/journey-final-01.jpg" alt="journey" usemap="#journeymap">
		<map id="map_ID" name="journeymap">
			<area target="" alt="0" title="Milestone 1" href="checkpoint" coords="1356,644,1482,809" shape="rect">
			<area target="" alt="1" title="Milestone 2" href="checkpoint" coords="808,595,900,710" shape="rect">
			<area target="" alt="2" title="Milestone 3" href="checkpoint" coords="1361,320,1431,405" shape="rect">
			<area target="" alt="3" title="Milestone 4" href="checkpoint" coords="1124,161,1190,248" shape="rect">
			<area target="" alt="4" title="DDA" href="checkpoint" coords="1173,110,1359,5" shape="rect">
		</map>
	</div>
	{{!-- <div id="mobile">
		<img src="../images/journey-mobile-01.jpg" alt="journey" usemap="#journeymap">
		<map id="map_ID" name="journeymap">
			<area target="" alt="flag1" title="Milestone 1" href="" coords="593,790,729,1000" shape="rect">
			<area target="" alt="flag2" title="Milestone 2" href="" coords="36,726,136,879" shape="rect">
			<area target="" alt="flag3" title="Milestone 3" href="" coords="601,390,674,495" shape="rect">
			<area target="" alt="flag4" title="Milestone 4" href="" coords="357,196,432,302" shape="rect">
			<area target="" alt="cap" title="DDA" href="" coords="410,6,598,137" shape="rect">
		</map>
	</div> --}}
	
	
</body>

</html>